/* general styling */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lavender;
    font-family: 'Lato', Arial, sans-serif;
}

main {
    min-height: 300px;
}

nav .nav-wrapper {
    background-color: firebrick;
    padding: 0 30px;
}

.sidenav {
    background-color: firebrick;
}

.sidenav li>a {
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
}

.dropdown-content li>a {
    color: #26a69a;
}

nav .brand-logo {
    font-size: 1.8rem
}

.top {
    padding-top: 7px;
}

.logout-style {
    height: 64px;
}


i.left {
    margin-right: 0;
}

.center-form .row .col {
    padding: 0 16px
}

.main-title {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 70px;
}

fieldset {
    margin: 0 0 25px 0;
}

#backTop {
    width: 45px;
    line-height: 45px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 30px;
    right: 25px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 35px;
    transition: .2s linear all;
    box-shadow: 0px 0px 5px 1px grey; 
}

#backTop:hover {
    background-color: #DDF;
    color: #000;
}

/* login, registration form */
.center-form {
    margin-top: 60px;
}

.data-box {
    background-color: white;
    padding: 1px 20px 40px;
    box-shadow: 2px 2px 5px dimgrey;
}

.center-form h4 {
    background: darkslategrey;
    padding: 18px 25px;
    color: white;
    box-shadow: 2px 2px 5px dimgrey;
    margin-bottom: 0;
}

.login-btn-align {
    margin-left: 10px;
}

.register-link {
    font-size: 12px;
}

/* homepage */
.hero-part {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/326278/pexels-photo-326278.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.landing-text-box {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    min-width: 300px;
    text-align: center;
}

.hero-line-title {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-line-subtitle {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    color: lightgray;
    margin-top: -25px;
}

.margin {
    margin: 100px 0 50px 0;
}

.card .card-image {
    overflow: hidden;
    background: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
    max-height: 170px;
}

.card .card-image img {
    transform: scale(1.25);
    transition: linear all .3s;
    opacity: .7;
    border-radius: 0;
}

.card .card-image img:hover {
    transform: scale(1);
    transition: linear all .3s;
    opacity: .9;
}

.card .card-image .card-title {
    width: 100%;
    padding: 10px 25px;
    text-shadow: 3px 3px 4px black;
    font-weight: 400;
}

.card-content {
    background-color: aliceblue;
}

.card .card-content p {
    margin: 10px 0;
    display: flex;
    vertical-align: middle;
}

.bold-text {
    font-weight: bold;
    color: firebrick;
    margin-left: 5px;
}

.material-icons {
    padding-right: 10px;
}

.card .card-action {
    background-color: darkslategray;
}

/* recipe details */
.image-top {
    margin-top: 50px;
}

.image-top img {
    width: 100%;
    max-height: 350px;
}

.recipe-details {
    background: aliceblue;
    padding: 30px;
    box-shadow: 2px 2px 2px grey;
    margin-top: 60px;
}

.print {
    margin-top: 5px;
}

.icon-summary {
    margin-top: 40px;
}

.edit-info {
    margin-top: 50px;
}

.margin-r {
    margin-right: 5px;
}

.delete {
    background-color: #c62828;
}

.delete:hover {
    background-color: #e53935;
}

.cancel {
    background-color: #ffca28;
    color: black;
}

.cancel:hover {
    background-color: #ffd54f;
}

.user-note {
    background: lavender;
    padding: 5px;
}

.description {
    margin-top: 30px;
    border-bottom: 7px dotted firebrick;
}

.description p {
    padding: 60px 0 40px 0;
    font-size: 17px;
}

.preps {
    background: darkslategray;
    color: white;
    padding: 10px 25px;
    margin-bottom: 0;
    font-size: 1.8em;
}

.main-heading {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
}

.bold-item {
    font-weight: bold;
}

.table-border {
    border: 1px solid darkslategray;
}

.table-border td {
    padding: 10px 25px;
}

.modal-content h3 {
    color: #c62828;
}


/*add recipe */
h3 {
    font-size: 1.8em;
}

.add-form {
    background: aliceblue;
    padding: 20px;
    box-shadow: 2px 2px 5px dimgrey;
}


/* edit recipe */
#items input,
#steps textarea {
    margin-left: 45px;
    width: calc(100% - 45px);
}


footer {
    background: firebrick;
    padding: 30px 30px;
    width: 100%;
    margin-top: 60px;
    color: white;
    text-align: center;
}

.alert {
    padding: 15px;
    margin: 50px 0 0 0;
    border: 1px solid #d6e9c6;;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}