{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s12 l10 offset-l1">
        <h1 class="main-title">Add Recipe Details</h1>
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="add-form">
            <fieldset>
                <legend>Recipe Details</legend>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">create</i>
                        <input id="recipe_name" name="recipe_name" type="text" class="validate" maxlength="40">
                        <label for="recipe_name">Recipe Name</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">location_on</i>
                        <select id="category" name="cuisine_name" required>
                            <option value="" disabled selected>Choose Cuisine</option>
                            {% for type in cuisine_type %}
                            <option value="{{ type.c_type }}">{{ type.c_type }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">restaurant_menu</i>
                        <select id="type" name="difficulty" required>
                            <option value="" disabled selected>Choose Difficulty</option>
                            {% for difficult in levels %}
                            <option value="{{ difficult.d_level }}">{{ difficult.d_level }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">people</i>
                        <input id="serves" name="serves" type="number" class="validate" min="1">
                        <label for="serves">Serves</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">access_time</i>
                        <input id="prep_time" name="prep_time" type="text" class="validate" maxlength=10>
                        <label for="prep_time">Preparation Time</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">person</i>
                        <input id="author" name="author" type="text" class="validate" maxlength="30">
                        <label for="author">Author</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">add_a_photo</i>
                        <input id="image_url" name="image_url" type="url" class="validate" required>
                        <label for="image_url">Image URL</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">assignment</i>
                        <textarea name="description" id="description" class="materialize-textarea" required
                            maxlength="500"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Ingredients</legend>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">shopping_basket</i>
                        <input name="ingredients" class="validate" placeholder="Add ingredient" required maxlength="60">
                        <div id="items">
                            <a class="waves-effect waves-light btn-small add-input-field margin-r">Add item</a>
                            <a class="waves-effect waves-light btn-small delete-last-field delete">Delete Last</a>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Preparation Steps</legend>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">list</i>
                        <textarea name="method" class="materialize-textarea" placeholder="Add step" required
                            maxlength="300"></textarea>
                        <div id="steps">
                            <a class="waves-effect waves-light btn-small add-step margin-r">Add Step</a>
                            <a class="waves-effect waves-light btn-small delete-last-step delete">Delete Last</a>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light margin-r" type="submit">Add Recipe
                        <i class="material-icons left">playlist_add</i>
                    </button>
                    <a href="{{ url_for('all_recipes') }}" class="btn waves-effect waves-light cancel">Cancel<i
                            class="material-icons left">cancel</i></a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block footer %}

<footer>
    <p>Culinary World &copy; 2020</p>
</footer>

{% endblock %}