<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>Culinary World | {{ title }}</title>
    {% else %}
    <title>Culinary World</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <!-- Dropdown Structure -->
        <ul id="dropdown" class="dropdown-content">
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        <nav class="navigation-bar">
            <div class="nav-wrapper">
                <a href="{{ url_for('all_recipes') }}" class="brand-logo">Culinary World</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="active" href="{{ url_for('all_recipes') }}">Recipes</a></li>
                    {% if 'username' in session %}
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown">Hi, {{ session.username }}<i
                        class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                    <li><a class="modal-trigger" href="{{ url_for('index')}}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% block slider %} {% endblock %}
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Culinary World &copy; 2020</p>
    </footer>

    <!-- Import jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        function printRecipe() {
            window.print();
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.slider').slider();
            $('select').formSelect();
            $('.modal').modal();
            $(".dropdown-trigger").dropdown();

            /* Dynamically add new input field to form*/
            $(".add-input-field").on("click", function () {
                $('<input type="text" class="validate" name="ingredients" id="ingredients" placeholder="Add ingredient" required >').insertBefore(".add-input-field");
            });

            /*removes last input element from ingredientsform*/
            $(".delete-last-field").on("click", function () {
                $("#items input:last").remove();
            });

            /* Dynamically add new input field to form*/
            $(".add-step").on("click", function () {
                $('<textarea name="method" id="method" class="materialize-textarea" placeholder="Add next step" required ></textarea>').insertBefore(".add-step");
            });

            /*removes last input element from form*/
            $(".delete-last-step").on("click", function () {
                $("#steps textarea:last").remove();
            });
        });
    </script>
</body>

</html>