{% extends 'base.html' %}
{% block content %}

<h3>Edit Recipe</h3>
<div class="row">
    <form action="{{ url_for('update_recipe', recipe_id=recipes._id) }}" method="POST" class="col s12">
        <fieldset>
            <legend>Recipe Details</legend>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">create</i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate"
                        value="{{ recipes.recipe_name }}">
                    <label for="recipe_name">Recipe Name</label>
                </div>

                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">location_on</i>
                    <select id="category" name="cuisine_name" required>
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% for type in cuisine_type %}
                        {% if type.c_type == recipes.cuisine_name %}
                        <option value="{{ type.c_type }}" selected>{{ type.c_type }}
                        </option>
                        {% else %}
                        <option value="{{ type.c_type }}">{{ type.c_type }}
                            {% endif %}
                            {% endfor %}
                    </select>
                </div>

                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">restaurant_menu</i>
                    <select id="difficulty" name="difficulty" required>
                        <option value="" disabled selected>Choose Difficulty</option>
                        {% if difficulty == recipes.difficulty %}
                        <option value="{{ difficulty }}" selected>{{difficulty}}</option>
                        {% else %}
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                        {% endif %}

                    </select>
                </div>

                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">people</i>
                    <input id="serves" name="serves" type="text" class="validate" value="{{ recipes.serves }}">
                    <label for="serves">Serves</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">access_time</i>
                    <input id="prep_time" name="prep_time" type="text" class="validate" value="{{ recipes.prep_time }}">
                    <label for="prep_time">Preparation Time</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">person</i>
                    <input id="author" name="author" type="text" class="validate" value="{{ recipes.author }}">
                    <label for="author">Author</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">add_a_photo</i>
                    <input id="image_url" name="image_url" type="text" class="validate" value="{{recipes.image_url }}">
                    <label for="image_url">Image URL</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment</i>
                    <textarea id="description" name="description"
                        class="materialize-textarea"> {{ recipes.description }}</textarea>
                    <label for="description">Description</label>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Ingredients</legend>
            <div class="row">
                <div class="input-field col s12" id="items">
                    <i class="material-icons prefix">shopping_basket</i>
                    {% for ingredient in recipes.ingredients %}
                    <input type="text" name="ingredients" id="ingredients" class="validate" value=" {{ ingredient }} " required >
                    {% endfor %}
                    <a class="waves-effect waves-light btn-small add-input-field">Add item</a>
                    <a class="waves-effect waves-light btn-small delete-last-field">Delete Last</a>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Preparation Steps</legend>
            <div class="row">
                <div class="input-field col s12" id="steps">
                    <i class="material-icons prefix">list</i>
                    {% for step in recipes.method %}
                    <textarea name="method" id="method" class="materialize-textarea" required>{{ step }}</textarea>
                    {% endfor %}
                    <a class="waves-effect waves-light btn-small add-step">Add item</a>
                    <a class="waves-effect waves-light btn-small delete-last-step">Delete Last</a>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col s12">
                <button class="btn waves-effect waves-light" type="submit">Update Recipe
                    <i class="material-icons right">playlist_add</i>
                </button>
                <a href="{{ url_for('recipe_details', recipe_id=recipe_id ) }}" class="btn waves-effect waves-light">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}