{% extends 'base.html' %}
{% block content  %}

<div class="row">
    <div class="col s12 m4">
        <img src="{{ recipes.image_url }}" class="img-responsive" style="width:300px">
        <div class="col s12 m4">
            <button class="print" onclick="printRecipe()"><i class="material-icons prefix">print</i></button>
        </div>
    </div>
    <div class="col s12 m8">
        <h1>{{ recipes.recipe_name }}</h1>
        <p>Added by: {{ recipes.author }}</p>
        <div class="row">
            <div class="col s12">
                <a href="{{ url_for('edit_recipe', recipe_id = recipes._id) }}"
                    class="waves-effect waves-light btn">Edit</a>
                <a href="#modal_confirm" class="waves-effect waves-light btn modal-trigger">Delete</a>
                <!-- Modal Structure -->
                <div id="modal_confirm" class="modal">
                    <div class="modal-content">
                        <h3>{{ recipes.recipe_name }}</h3>
                        <p>Do you want to delete this recipe? </p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_recipe', recipe_id = recipes._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete<i class = "material-icons right">delete_forever</i></a>
                        <a href="#!" class="waves-effect waves-light btn-small modal-close">Cancel
                            <i class = "material-icons right">cancel</i></a>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <tbody>
                <tr>
                    <td><i class="material-icons prefix">location_on</i> Cuisine: {{ recipes.cuisine_name }}</td>
                    <td><i class="material-icons prefix">restaurant_menu</i> Difficulty: {{ recipes.difficulty}} </td>
                </tr>
                <tr>
                    <td><i class="material-icons prefix">access_time</i> Time: {{ recipes.prep_time }} </td>
                    <td><i class="material-icons prefix">people</i> Serve: {{ recipes.serves }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <p>{{ recipes.description }}</p>
        </div>

    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <div class="row">
            <h3>Ingredients:</h3>
            <table>
                <tbody>
                    <tr>
                        <td>{{  recipes.ingredients }}</td>
                    </tr>
                    <tr>
                        <td>3/4 cup Plain Flour</td>
                    </tr>
                    <tr>
                        <td>1 Egg</td>
                    </tr>
                    <tr>
                        <td>2 tbs Starch</td>
                    </tr>
                    <tr>
                        <td>3/4 cup Plain Flour</td>
                    </tr>
                    <tr>
                        <td>3/4 cup Plain Flour</td>
                    </tr>
                    <tr>
                        <td>3/4 cup Plain Flour</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s12 m8">
        <h3>Preparation Steps</h3>
        <p>{{ recipes.step_one}}</p>
    </div>
</div>

{% endblock %}