{% extends 'base.html' %}
{% block content  %}

<div class="row">
    <div class="col s12 m4">
        <img src="{{ recipes.image_url }}" class="img-responsive" style="width:300px">
    </div>
    <div class="col s12 m8">
        <h1>{{ recipes.recipe_name }}</h1>
        <p>Added by: {{ recipes.author }}</p>
        <div class="row">
            <div class="col s12">
                <a href="{{ url_for('edit_recipe', recipe_id = recipes._id) }}" class="waves-effect waves-light btn">Edit</a> 
                <a href="{{ url_for('delete_recipe', recipe_id = recipes._id) }}" class="waves-effect waves-light btn">Delete</a>
            </div>
        </div>
        <table>
            <tbody>
                <tr>
                    <td><i class="material-icons prefix">location_on</i> Cuisine: {{ recipes.cuisine_name }}</td>
                    <td><i class="material-icons prefix">restaurant_menu</i> Difficulty: {{ recipes.difficulty}} </td>
                </tr>
                <tr>
                    <td><i class="material-icons prefix">access_time</i> Time: {{ recipes.prep_time }} </td>
                    <td><i class="material-icons prefix">people</i> Serve: {{ recipes.serves }}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <p>{{ recipes.description }}</p>
        </div>

    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <div class="row">
            <h3>Ingredients:</h3>
            <table>
                <tbody>
                    <tr>
                        <td>{{  recipes.ingredients }}</td>
                    </tr>
                    <tr>
                        <td>3/4 cup Plain Flour</td>
                    </tr>
                    <tr>
                        <td>1 Egg</td>
                    </tr>
                    <tr>
                        <td>2 tbs Starch</td>
                    </tr>
                    <tr>
                        <td>3/4 cup Plain Flour</td>
                    </tr>
                    <tr>
                        <td>3/4 cup Plain Flour</td>
                    </tr>
                    <tr>
                        <td>3/4 cup Plain Flour</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s12 m8">
        <h3>Preparation Steps</h3>
        <p>{{ recipes.step_one}}</p>
    </div>
</div>

{% endblock %}